.headerContainer{
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: #1d1c19;
    justify-content: space-between;
}
.stickyHeader{
    position: sticky;
    top: 0%;
}
.button{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none;
    color: #fefdfb;
}
.loginButton{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    text-decoration: none;
    color: #fefdfb;
}
.loginButton:hover{
    text-decoration: underline;
    transition: 1s;
    background-color: #fefdfb;
    color: #1d1c19;
}
.button:hover{
    text-decoration: underline;
    transition: 1s;
    background-color: #fefdfb;
    color: #1d1c19;
}
.image{
    height: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
}
.headerHeader{
    display: flex;
    color: #fefdfb;
    align-items: center;
    height: 100%;
    width: 15vw;
    justify-content: center;
}
.headerLine{
    margin: 0%;
    background-color: #3167D3;
    border: none;
    height: 3px;
    min-width: 100vw;
}
.pageButtons{
    display: flex;
    flex-direction: row;
}
.loginButtons{
    display: flex;
    flex-direction: row-reverse;
}
.footer{
    height: 15vh;
}
.listButton{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none;
    color: #fefdfb;
    background-color: #1d1c19;
    height: 10vh;
}
.listButton:hover{
    text-decoration: underline;
    transition: 1s;
    background-color: #fefdfb;
    color: #1d1c19;
}